<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Verfication</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
	    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css'%}">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-12"></div>
                <div class="col-lg-12">
                    <p><h4 class="text-center alert alert-info">YOU OPEN THE JOB PORTEL LINK THROUGH INSTAGRAM.<br><br>FOR VERFICATION<br><br>LOGIN INTO YOUR ACCOUNT</h4></p><br><br>
                    <a href='login/'>Click to Login...</a>
            </div>
        </div>

            
        
        <script src="" async defer></script>
    </body>
</html>